@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

/* .container {
    max-width: 992px !important;
} */

* {
    font-family: “Khula”, sans-serif;
}

.logo img {
    width: 90%;
}

a:hover {
    text-decoration: none;
}

.nav_pc a {
    color: #333333;
}

.bg-cart {
    background-color: #0184c5;
}

.bg-cart i {
    font-size: 25px;
}

.bg-cart .text-cart {
    font-size: 14px;
}

.collapse__item {
    left: 15px;
    width: 200px;
}

.menu__item {
    overflow: hidden;
}

.menu__item:hover {
    overflow: visible;
}

.menu__item:hover>.menu__item_a {
    cursor: pointer;
    color: rgb(44, 47, 235) !important;
}

.home__item_popup {
    background-color: white;
    z-index: 1000;
    top: 100%;
    display: none;
    /* transition: all 0.3s linear; */
    animation: keyfram__menu__item 0.3s linear;
    opacity: 0;
}

#collapse__shop {
    width: 1110px;
    left: -270px;
}

.menu__item:hover .home__item_popup {
    opacity: 1;
    display: block;
}

.collapse__right {
    width: 200px;
    height: auto;
    position: absolute;
    left: 100%;
    background-color: white;
    top: 20px;
    transform: translateY(15px);
    opacity: 0;
    transition: all ease-out 0.4s;
}

.blog_item:hover .collapse__right {
    opacity: 1;
    transform: translateY(5px);
}

@keyframes keyfram__menu__item {
    0% {
        height: 0px;
        overflow: hidden;
    }
    12% {
        height: 25px;
    }
    25% {
        height: 50px;
    }
    35% {
        height: 70px;
    }
    50% {
        overflow: hidden;
        height: 100px;
    }
    75% {
        overflow: hidden;
        height: 150px;
    }
    100% {
        height: auto;
    }
}


/* hover cart */

.bars__tablet {
    font-size: 1.8rem;
}

.hidden__cart {
    width: 330px;
    right: 0;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    background: white;
    z-index: 800;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.hidden__cart .cart__title__product__name {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    background: white;
    z-index: 30;
}

.show__cart:hover .hidden__cart {
    opacity: 1;
    border-top: 2px solid rgb(55, 241, 185) !important;
    border: 1px solid rgb(143, 142, 142);
    transform: translateY(0);
    height: auto;
}

#shop__categories {
    z-index: 60;
}

#shop__categories__tablet {
    z-index: 400 !important;
}

.shop__categories__item:hover>.shop__categories__item__a {
    color: #0184c5 !important;
}

.shop__categories__item .shop__categories__item__right {
    position: absolute;
    left: 100.7%;
    top: 0;
    z-index: 60;
    width: calc(960px - 240px);
    transition: all 0.4s ease;
    display: none;
    height: auto;
}

.shop__categories__item__right__ul {
    background-color: white;
    border-top: 2px solid rgb(55, 67, 231);
}

.shop__categories__item:hover .shop__categories__item__right {
    display: block;
}

.shop__categories__item__ul {
    flex: 0 0 240px;
}

.input__search__pc {
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 7px;
}

#list__all__categories {
    top: 100%;
    margin-top: 4px;
    z-index: 50;
    height: 0px;
    overflow-y: scroll;
    background-color: white;
    transition: height 0.5s;
    /* animation: showcategories 0.3s ease alternate both; */
}

@keyframes showcategories {
    0% {
        height: 50px;
    }
    25% {
        height: 100px;
    }
    50% {
        height: 150px;
    }
    75% {
        height: 225px;
    }
    100% {
        overflow-y: scroll;
        height: 285px;
    }
}

#list__all__categories a {
    color: black;
}

#list__all__categories::-webkit-scrollbar {
    width: 10px;
    background-color: #e0e0e0;
}

#list__all__categories::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

#label__checkbox__nav {
    position: fixed;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 200;
    transition: all 0.5s linear;
    top: 0;
    visibility: hidden;
    /* display: none; */
    background-color: rgba(199, 199, 199, 0.3);
    bottom: 0;
}

#checkbox__nav:checked~#label__checkbox__nav {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}


/* nav__tablet */

.nav__tablet {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    box-shadow: 1px 1px 4px 1px rgb(240, 238, 238);
    background-color: white;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translateX(100%);
}

#checkbox__nav:checked~.nav__tablet {
    transform: translateX(0);
    opacity: 1;
}

.input__search__tablet {
    outline: none;
    /* font-weight: bold; */
    color: #666666;
    background: none;
    font-size: 15px;
    border: none;
}

.nav__tablet .nav-link {
    color: #666666 !important;
}

#accordion {
    padding-right: 10px;
}

#accordion::-webkit-scrollbar {
    width: 4px;
    background: #f0eeee;
}

#accordion__user {
    padding-right: 10px;
}

#accordion__user::-webkit-scrollbar {
    width: 4px;
    background: #f0eeee;
}


/* custom prev and next carousel */

.carousel-control-prev {
    width: 30px !important;
    top: 45%;
    display: inline-block;
    left: 15px;
    overflow: hidden;
    z-index: 20;
    height: 30px;
    bottom: auto !important;
}

.carousel-control-next {
    width: 30px !important;
    top: 45%;
    z-index: 20;
    display: inline-block;
    right: 15px;
    overflow: hidden;
    height: 30px;
    bottom: auto !important;
}

.carousel-control-prev img {
    width: 70%;
    top: 0;
    transition: translateY 2s ease;
    left: 0;
    height: auto;
    position: absolute;
    transform: translateY(0);
}

.carousel-control-prev:hover img {
    transform: translateY(-50%) !important;
}

.carousel-control-next img {
    width: 70%;
    top: 0;
    transition: translateY 2s ease;
    right: 0;
    height: auto;
    position: absolute;
    transform: translateY(0);
}

.carousel-control-next:hover img {
    transform: translateY(-50%) !important;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@keyframes countdownSlide {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

.countdown-slide {
    top: 0;
    z-index: 50;
    left: 0;
    background: rgb(141, 9, 9);
    width: 0px;
    height: 2px;
    animation: countdownSlide 5s ease-in-out infinite;
}


/* #myCarousel .carousel-item img {
    object-fit: cover;
    height: calc(100vh - 164px) !important;
} */

.carousel-caption {
    text-align: left;
    top: 15%;
    left: 13%;
    right: 13%;
}

.slide__content {
    width: 60%;
    text-align: center;
}

.slide__content__title1 {
    text-transform: uppercase;
    font-weight: 700;
    animation: slideDownToUp 0.3s ease-in-out;
    margin-bottom: -10px;
    color: white;
}

@keyframes slideDownToUp {
    0% {
        transform: translateY(150px);
        font-size: 1px;
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: scale(1);
    }
}

.slide__content__title2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
    font-size: 80px;
    animation: slideDownToUp 0.5s ease-in;
}

.slide__content__title3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    animation: slideDownToUp 0.7s ease-in-out;
}

.slide__content__title4 {
    font-size: 23px;
    text-shadow: 1px 1px 5px rgb(226, 226, 226);
    animation: slideDownToUp 0.9s ease;
}

.btn__shop {
    transform: scale(0);
    transition: all 0.3s ease-in;
    animation: btnShopNowUp 0.5s ease-in-out 0.5s forwards;
}

.btn__shop:hover {
    background: #0184c5 !important;
    color: white;
}

.slide__right__left1 {
    text-transform: uppercase;
    font-weight: 700;
    animation: slideRightToLeft 0.5s ease-in-out;
    margin-bottom: -10px;
    color: white;
}

.slide__right__left2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
    font-size: 80px;
    animation: slideRightToLeft 0.7s ease-in;
}

.slide__right__left3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    animation: slideRightToLeft 0.9s ease-in-out;
}

.slide__right__left4 {
    font-size: 23px;
    text-shadow: 1px 1px 5px rgb(226, 226, 226);
    animation: slideRightToLeft 1s ease;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(150px);
        font-size: 1px;
    }
    20% {
        transform: translateX(120px);
        font-size: 5px;
    }
    30% {
        transform: translateX(80px);
        font-size: 10px;
    }
    50% {
        transform: translateX(50px);
        font-size: 12px;
    }
    70% {
        transform: translateX(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes btnShopNowUp {
    0% {
        transform: translateY(160px);
    }
    30% {
        transform: scale(0.2);
        transform: translateY(0);
    }
    60% {
        transform: scale(0.5);
    }
    80% {
        transform: scale(0.7);
    }
    90% {
        transform: scale(0.8);
    }
    95% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.btn__shop_right:hover {
    background: #0184c5 !important;
    color: white;
}

.btn__shop_right {
    transition: all 0.3s ease-in;
    transform: scale(0);
    animation: btnShopRight 0.5s ease-in-out 0.5s forwards;
}

@keyframes btnShopRight {
    0% {
        transform: translateX(160px);
    }
    10% {
        transform: scale(0.1);
        transform: translateX(100px);
    }
    20% {
        transform: scale(0.2);
        transform: translateX(50px);
    }
    40% {
        transform: scale(0.3);
        transform: translateX(0);
    }
    60% {
        transform: scale(0.5);
    }
    80% {
        transform: scale(0.7);
    }
    90% {
        transform: scale(0.8);
    }
    95% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}


/* banner 1 */

.banner__item {
    transition: all 0.5s ease-in;
    z-index: 999;
}

.bg__hover__bottom {
    position: absolute;
    bottom: 0;
    animation: bgBottom 2s ease-out;
    right: 0;
    display: none;
    z-index: 1000;
}

.bg__hover__top {
    position: absolute;
    top: 0;
    animation: bgTop 2s ease-out;
    left: 0;
    display: none;
    opacity: 0;
    z-index: 1000;
    transition: all 1s ease;
}

@keyframes bgBottom {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 90%;
        opacity: 0.5;
        height: 90%;
        background-color: rgba(253, 242, 242, 0.3);
    }
    60% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.1;
    }
    90% {
        opacity: 0.05;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bgTop {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    30% {
        width: 90%;
        opacity: 0.5;
        height: 90%;
        background-color: rgba(253, 242, 242, 0.3);
    }
    60% {
        opacity: 0.3;
    }
    70% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.1;
    }
    90% {
        opacity: 0.05;
    }
    95% {
        opacity: 0.02;
    }
    100% {
        opacity: 0;
    }
}

.banner__item {
    z-index: 300;
}

.banner__item:hover .bg__hover__bottom {
    display: block;
}

.banner__item:hover .bg__hover__top {
    display: block;
}

.support__item {
    transition: all 0.3s ease;
}

.support__col:hover .support__item {
    background: #fffcfc !important;
}

.icon__support {
    font-size: 2rem;
}

.title__support {
    font-size: 1.3rem;
}

.discription__support {
    font-size: 1.1rem;
}


/* product */

.msg__status {
    background: #0184c5;
    font-size: 13px;
    z-index: 70;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    color: white;
}

.category__name__product {
    font-size: 13px;
    color: #666666;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}

.product__name {
    font-size: 14px;
    color: #505050;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
}

.product__img {
    width: 100%;
    z-index: 50;
    height: 100%;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.text__price {
    font-size: 13px;
    color: #666666;
    text-decoration: line-through;
}

.text__price__discount {
    font-size: 16px;
    font-weight: 600;
    color: #e43838;
}

.btn__addtocart {
    transition: all 0.3s ease;
    font-size: 14px;
}

.btn__addtocart:hover {
    background: #0184c5;
    color: white;
}

.btn__preview {
    position: absolute;
    top: 30%;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: #0184c5;
    color: white;
}

.wrapper__product:hover .btn__preview {
    opacity: 1;
    visibility: visible;
}

.product__item .fa-star {
    color: black;
}

.wrapper__product:hover .product__img {
    transform: scale(1.1);
}

.btn__preview:hover {
    background: rgb(27, 26, 26);
    color: white;
}

.btn__favorite,
.btn__copy {
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.wrapper__product:hover .btn__favorite {
    visibility: visible;
    opacity: 1;
}

.wrapper__product:hover .btn__copy {
    visibility: visible;
    opacity: 1;
}

.btn__copy:hover,
.btn__favorite:hover {
    background: #0184c5;
    color: white !important;
}

.product .close {
    display: inline-block;
    position: absolute;
    z-index: 30;
    outline: none;
    color: black;
    top: 15px;
    right: 30px;
}

.product .close:hover {
    cursor: pointer;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

#thumbnail-slider-modal-item1 .splide__slide.is-active {
    padding: 5px;
    border: 1px solid rgb(111, 224, 145);
}

.product__title__model {
    font-size: 20px;
    font-weight: bold;
}

.star__modal {
    font-size: 18px;
}

.text__price__discount {
    font-size: 23px;
    font-weight: bold;
    color: rgb(218, 54, 54);
}

.text__price__modal {
    font-size: 19px;
    text-decoration: line-through;
    color: #666666;
}

.quantities__modal {
    width: 60px;
    padding: 10px;
}

.quantities__modal span {
    line-height: 40px;
}

.btn__quantiti_up,
.btn__quantiti_down {
    width: 30px;
    padding: 3px;
    font-weight: bold;
    transition: all 0.3s ease;
    line-height: 25px;
    height: 100%;
}

.btn__quantiti_up:hover,
.btn__quantiti_down:hover {
    background: #0184c5;
    color: white;
}

.btn__addtocart__modal {
    transition: all 0.3s ease;
}

.btn__addtocart__modal:hover {
    background: #0184c5;
    color: white;
}

.share__icon {
    border: 1px solid #666666;
    border-radius: 50%;
    color: #666666;
    z-index: 50;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    padding: 4px 12px;
}

.share__Facebook:hover {
    background: #0184c5;
    border: none;
    color: white;
}

.share__twitter:hover {
    background: rgb(193, 45, 223);
    border: none;
    color: white;
}

.share__youtobe:hover {
    background: #e43838;
    border: none;
    color: white;
}

.share__google:hover {
    background: #26a3ec;
    border: none;
    color: white;
}

.share__instagram:hover {
    background: #66e486;
    border: none;
    color: white;
}

.product .nav-link:hover {
    font-weight: bold !important;
}

.product .nav-tabs .nav-link {
    font-size: 19px;
    color: #333333;
    transition: all 0.3s ease;
    border: none;
    margin-right: 15px;
    font-weight: 400;
}

.product .nav-tabs .nav-link.active {
    border: none;
    font-weight: bold;
}

.splide__pagination {
    position: absolute;
    top: -50px;
    right: 0px;
}

.splide__pagination li {
    display: flex;
    align-items: center;
}

.splide__pagination__page {
    height: 10px;
    padding: 0px;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: 1px solid #0184c5;
    background: #ffffff;
    width: 10px;
    margin-left: 5px;
}

.splide__pagination__page:hover {
    background: #0184c5;
}

.splide__pagination__page.is-active {
    display: inline-block;
    width: 22px !important;
    height: 8px !important;
    background: #0184c5;
    outline: none;
    border: none;
    border-radius: 5px !important;
}

.banner__countdown .fa-history {
    font-size: 1.6rem;
    color: white;
}

.banner__countdown__left {
    position: relative;
    background: #0184c5;
}

.banner__countdown__left::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    border-top: 52px solid #0184c5;
    border-right: 30px solid #ebebeb;
}

.banner__countdown__left span {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.banner__countdown .banner__countdown__right {
    background: #ebebeb;
    color: #505050;
    font-size: 18px;
}

.banner__countdown .banner__countdown__right span {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    display: -webkit-box;
}


/* slide discount */

.slide__discount .new__product__msg {
    background-color: #0184c5;
    font-size: 13px;
    color: white;
    top: 0;
    left: 15px;
    position: absolute;
}

.slide__discount .slide__discount__title {
    color: #0184c5;
}

.slide__discount .box__countdown {
    background-color: #f4f4f4;
    color: black;
    width: 50px;
}

.slide__discount .countdown__number {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.slide__discount .time__info {
    font-size: 14px;
    color: #666666;
}

.slide__discount .slide__category__name {
    color: #666666;
    text-transform: uppercase;
}

.slide__discount .product__name {
    font-size: 15px;
    color: #505050;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
}

.slide__discount .text__price {
    font-size: 14px;
    color: #666666;
    text-decoration: line-through;
}

.slide__discount .text__price__discount {
    font-size: 23px;
    font-weight: bold;
    color: rgb(218, 54, 54);
}

.slide__discount__description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}

.slide__discount .slide__content__countdown {
    margin-right: -1px !important;
}

.splide__pagination {
    z-index: 70;
}

.slide__discount .splide__pagination {
    right: 15px;
}

.discription__headphone {
    color: #0184c5;
    top: 10%;
    right: 15%;
    left: 50%;
    bottom: 10%;
}

.title__headphone {
    font-size: 70px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    /* line-height: 55px; */
    text-transform: uppercase;
}

.headphone__content {
    color: #505050;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}

.discription__headphone span {
    font-weight: 600;
    text-transform: uppercase;
}

.border__ {
    width: 30px;
    border-top: 3px solid #0184c5;
}


/* trending */

.tabs__trending {
    width: 90%;
}


/* slide product grid */

.title__product__grid {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.slide__product__grid .splide__pagination {
    top: -34px !important;
}

.slide__product__grid .text__price__discount {
    font-size: 17px !important;
}

#slide__brand .brand__item {
    width: 150px;
    height: auto;
}

.banner__description {
    top: 8%;
    left: 10%;
    right: 65%;
}

.banner__custom3 img {
    max-height: 532px !important;
}

.banner__custom3 .msg__banner3 {
    color: #0184c5;
}

.banner__custom3 .title__banner3 {
    color: white !important;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscribe {
    position: absolute;
    top: 5%;
    left: 35%;
    right: 35%;
}

.subscribe__title_1 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #505050;
    text-transform: uppercase;
}

.subscribe__title_2 {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 0px;
    color: black;
    text-transform: uppercase;
}

.subscribe__title_3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 22px;
    color: #666666;
    display: -webkit-box;
}

.input__subcribe {
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 2px #ddd9d9;
    width: 100%;
    padding: 10px 25px;
    background-color: white;
    font-weight: bold;
    color: #666666;
}

.btn__subscribe {
    right: 11px;
    border: none;
    position: absolute;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 1.4rem;
    bottom: 5px;
}

.footer {
    color: rgb(230, 228, 225) !important;
}

.footer a {
    font-size: 14px !important;
}

.footer .logo img {
    max-width: 150px;
}

.footer .border___ {
    width: 50px;
    border-top: 3px solid #0184c5;
}

.colorFooter {
    transition: all 0.3s ease;
    color: rgb(230, 228, 225) !important;
}

.share__social {
    padding: 15px;
    margin-top: 20px;
}

.share__social li {
    margin-right: 7px !important;
}

.share__social .share__icon i {
    line-height: 30px;
}

.share__social .share__icon {
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #393939 !important;
}

.share__social .share__Facebook:hover {
    background: #0184c5 !important;
    border: none;
    color: white;
}

.share__social .share__twitter:hover {
    background: rgb(193, 45, 223) !important;
    border: none;
    color: white;
}

.share__social .share__youtobe:hover {
    background: #e43838 !important;
    border: none;
    color: white;
}

.share__social .share__google:hover {
    background: #26a3ec !important;
    border: none;
    color: white;
}

.share__social .share__instagram:hover {
    background: #66e486 !important;
    border: none;
    color: white;
}

.footer .fa-angle-right {
    font-size: 1rem;
}

.colorFooter:hover {
    transform: translateX(10px);
    color: #0184c5 !important;
}

.title__footer {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

@media screen and (max-width: 1400px) {
    .subscribe {
        left: 30%;
        right: 30%;
    }
    .title__headphone {
        font-size: 50px;
    }
    .banner__custom3 .title__banner3 {
        font-size: 50px;
    }
    .subscribe__title_1 {
        margin-bottom: 0px;
        font-size: 35px !important;
    }
    .subscribe__title_2 {
        margin-bottom: 0px;
        font-size: 25px !important;
    }
    .subscribe__title_3 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 1199.99px) {
    .subscribe__title_1 {
        margin-bottom: 0px;
        font-size: 28px !important;
    }
    .subscribe__title_2 {
        margin-bottom: 0px;
        font-size: 20px !important;
    }
    .subscribe__title_3 {
        font-size: 16px !important;
    }
    .subscribe {
        left: 25%;
        right: 25%;
    }
    .img__subscribe {
        height: 300px !important;
    }
    .title__headphone {
        font-size: 35px;
    }
    #collapse__shop {
        width: 930px;
        left: -225px;
    }
    .slide__content__title2,
    .slide__right__left2 {
        font-size: 70px;
    }
    .slide__content__title3,
    .slide__right__left3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 991.85454px) {
    .title__headphone {
        margin-bottom: 0px;
        font-size: 25px;
    }
    .banner__custom3 .title__banner3 {
        font-size: 35px;
    }
    .discription__headphone {
        right: 15px;
    }
    .headphone__content {
        font-size: 14px;
    }
    .carousel-caption {
        top: 10%;
    }
    .slide__content__title2,
    .slide__right__left2 {
        font-size: 55px;
    }
    .slide__content__title3,
    .slide__right__left3 {
        font-size: 30px;
    }
    .slide__content__title4,
    .slide__right__left4 {
        font-size: 18px;
    }
    .wrapper__countdown {
        justify-content: center !important;
    }
    .slide__content__countdown {
        flex-direction: column;
        text-align: center !important;
        /* border-right: none !important; */
    }
}

@media screen and (max-width: 767.72329px) {
    .subscribe {
        left: 10%;
        right: 10%;
    }
    .img__subscribe {
        height: 250px !important;
    }
    .trending__product .splide__pagination {
        display: none;
    }
    .discription__headphone {
        text-align: center;
        left: 15px;
    }
    .msg__headphone {
        justify-content: center;
    }
    .show__cart .fa-shopping-cart {
        font-size: 1rem;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-caption {
        top: 4%;
    }
    .slide__content__title1,
    .slide__right__left1 {
        font-size: 11px;
    }
    .slide__content__title2,
    .slide__right__left2 {
        margin: 10px 0;
        font-size: 25px;
    }
    .slide__content__title3,
    .slide__right__left3 {
        font-size: 14px;
        margin: 12px 0;
    }
    .slide__content__title4,
    .slide__right__left4 {
        font-size: 13px;
    }
    .banner__countdown .banner__countdown__right {
        padding-left: 15px !important;
        font-size: 15px !important;
    }
    .banner__countdown__left span {
        font-size: 16px !important;
    }
    .banner__countdown__left::before {
        content: "" !important;
        border-right: 44px solid #ebebeb;
        border-top: 44px solid #0184c5;
    }
    .splide__pagination {
        /* top: -30px;
        right: 45% !important; */
    }
    #slide__fashion {
        margin-top: 40px;
    }
    .tabs__trending {
        width: 100%;
    }
    .trending__product {
        margin-top: 20px !important;
    }
    .trending__product .splide__pagination {
        /* top: -90px; */
        right: 0 !important;
    }
    .banner__custom3 .title__banner3 {
        font-size: 25px;
    }
    .banner__custom3 .banner__description {
        right: 40%;
    }
}

@media screen and (max-width: 575.99px) {
    .subscribe__title_1 {
        font-size: 20px;
    }
    .subscribe__title_2 {
        font-size: 16px;
    }
    .subscribe__title_3 {
        font-size: 13px;
    }
    .subscribe {
        left: 3%;
        right: 3%;
    }
    .img__subscribe {
        height: 200px !important;
    }
    .input__subcribe {
        font-size: 13px !important;
    }
    .banner__custom3 .btn {
        display: none;
    }
    .banner__custom3 .title__banner3 {
        font-size: 16px;
    }
    .banner__custom3 .msg__banner3 {
        justify-content: center;
    }
    .banner__custom3 {
        text-align: center;
    }
    .banner__custom3 .banner__description {
        right: 8%;
    }
    .splide__pagination {
        display: none;
    }
    .product .nav-tabs {
        width: 100%;
        text-align: center;
    }
    .trending__product .splide__pagination {
        display: none;
    }
    [data-toggle="tab"] {
        font-size: 14px !important;
        padding-left: 15px !important;
    }
    .img__headphone {
        height: 300px !important;
    }
    .slide__content {
        width: 80%;
    }
    .btn__shop_right,
    .btn__shop {
        font-size: 10px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .slide__content__title1,
    .slide__right__left1 {
        font-size: 10px;
    }
    .slide__content__title2,
    .slide__right__left2 {
        margin-top: 6px;
        margin-bottom: 0;
        font-size: 16px;
    }
    .slide__content__title3,
    .slide__right__left3 {
        font-size: 12px;
        margin: 2px 0;
    }
    .slide__content__title4,
    .slide__right__left4 {
        font-size: 11px;
        margin-bottom: 3px;
    }
    .banner__countdown__right span {
        visibility: hidden;
    }
    .product .nav-tabs {
        margin-bottom: 15px;
        flex-direction: column;
    }
    #myCarousel .carousel-item img {
        object-fit: cover;
        height: calc(100vh - 50vh) !important;
    }
}

@media screen and (max-width: 400px) {
    .product__item {
        border-right: none !important;
    }
    .banner__countdown__left::before {
        content: "" !important;
        border-right: 40px solid #ebebeb;
        border-top: 40px solid #0184c5;
    }
    .banner__countdown__left .fa-history {
        font-size: 1.2rem;
    }
    .banner__countdown__left span {
        font-size: 14px;
    }
    .carousel-caption {
        padding-top: 10px;
    }
    .btn__shop_right,
    .btn__shop {
        font-size: 8px;
    }
    .slide__content__title1,
    .slide__right__left1 {
        font-size: 8px;
    }
    .slide__content__title2,
    .slide__right__left2 {
        font-size: 12px;
    }
    .slide__content__title3,
    .slide__right__left3 {
        font-size: 10px;
    }
    .slide__content__title4,
    .slide__right__left4 {
        font-size: 9px;
    }
}

@media screen and (min-width: 992px) {
    .modal-xl {
        width: 800px !important;
    }
}

@media screen and (min-width: 1200px) {
    .modal-xl {
        width: 1024px !important;
    }
}